<a href="https://colab.research.google.com/github/2kdatawizard/data_engineering_interviews/blob/main/de_interview_basic_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Live Coding Exercise**

This is the live coding challenge and you will be working alongside the interviewee, it would be great if you could explain your methodology throughout. Please stick to a soft maximum of 10 minutes for each individual exercise. 5 mins extra is permitted if needed.

In [ ]:
!pip install pysqlite-binary

In [ ]:
import pysqlite3
import pandas as pd

# load dvla data
database = pysqlite3.connect(":memory:")
file_name = "https://b39d430f-95b5-4c1f-9333-13e99afd263b.usrfiles.com/ugd/b39d43_62d594a003294a6d949cc5599f238d90.csv"
df = pd.read_csv(file_name)
df.to_sql(
    name="uk_dvla_data",
    index=False,
    con=database,
    if_exists="replace"
)

# load demographics data
file_name = "https://b39d430f-95b5-4c1f-9333-13e99afd263b.usrfiles.com/ugd/b39d43_08faa9181a9b4a488dffdbf859821eaa.csv"
df = pd.read_csv(file_name)
df.to_sql(
    name="uk_demographics_data",
    index=False,
    con=database,
    if_exists="replace"
)

In [ ]:
# Lets load the whole data here for exploration
query="""
 SELECT * FROM uk_dvla_data
-- SELECT * FROM uk_demographics_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q1
# Write a SQL query to identify the age group with the third highest pass rate

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q2
# Write a SQL query to analyze the impact of urban population on pass rates

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q3
# Write a SQL query to find the year with the highest
# pass rate for female candidates. Include both the number of passed tests and the
# total tests taken in your result

# Lets load the whole data here for exploration

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q4
# Calculate the running total of driving tests taken by each age group over
# the years. Order the result by age and year

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q5
# Write a SQL query to calculate the year-over-year change in the pass rate
# for male drivers who are under 24 years old

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q6
# Identify age groups where the pass rate improved year over year from
# 2020 to 2022. Display the percentage increase for each qualifying age group

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q7
# Classify each age group into 'Youth' (ages 17-25), 'Adult' (ages 26-50),
# and 'Senior' (over 50) and calculate the average pass rate for each category

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

# Pair Sum

Given an array of integers sorted in ascending order and a target value, return the indexes of any pair of numbers in the array that sum to the target. The order of the indexes in the result doesn't matter. If no pair is found, return an empty array.

Example 1:

```
Input: nums = [-5, -2, 3, 4, 6], target = 7
Output: [2, 3]
Explanation: nums[2] + nums[3] = 3 + 4 = 7

```

Example 2:
```
Input: nums = [1, 1, 1], target = 2
Output: [0, 1]
```
Explanation: other valid outputs could be [1, 0], [0, 2], [2, 0], [1, 2] or [2, 1].

In [ ]:
from typing import List

def pair_sum_sorted(nums: List[int], target: int) -> List[int]:
    # Write your code here
    pass

#Triplet Sum

Given an array of integers, return all triplets ```[a, b, c]``` such that ```a + b + c = 0``` . The solution must not contain duplicate triplets (e.g., [1, 2, 3] and [2, 3, 1] are considered duplicates). If no such triplets are found, return an empty array.

Each triplet can be arranged in any order, and the output can be returned in any order.

Example:
```
Input: nums = [0, -1, 2, -3, 1]
Output: [[-3, 1, 2], [-1, 0, 1]]
```